<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Baseball, Monopoly, Hack" />
  <meta name="description" content="Baseball Monopoly Hack" />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" href="hack.css" />
  <title>Trading Bases</title>
</head>
<body>
  <header>
    <h1>Trading Bases</h1>
  </header>
  <div id="bd">
    <div class="mod" id="fields">
      <div class="hd">
        <h3>Fields</h3>
      </div>
      <div class="bd viewHome">
        <div class="awayTeam">
          <span class="ball">Ball</span>
          <div class="atBat">
            <h5>At Bat</h5>
            <img src="images/player1.jpg" alt="Peter C. - At Bat" />
            Peter C.
          </div>
          <ul class="field">
            <li class="pitcher player2">Pitcher</li>
            <li class="home player4">Home</li>
            <li class="first player3">First</li>
            <li class="second player3">Second</li>
            <li class="third player3">Third</li>
            <li class="shortStop player4">Short Stop</li>
            <li class="center player1">Center</li>
            <li class="right player2">Right</li>
            <li class="left player1">Left</li>
          </ul>
          <div class="special">
            <h5>Special</h5>
            <ul>
              <li><span>Peter C.</span> Hit</li>
              <li><span>Peter C.</span> Runs</li>
              <li><span>Peter C.</span> Extra Base</li>
            </ul>
          </div>
        </div>
        <div class="homeTeam">
          <span class="ball">Ball</span>
          <div class="atBat">
            <h5>At Bat</h5>
            <img src="images/player1.jpg" alt="Peter C. - At Bat" />
            Peter C.
          </div>
          <ul class="field">
            <li class="pitcher player2">Pitcher</li>
            <li class="home player4">Home</li>
            <li class="first player3">First</li>
            <li class="second player3">Second</li>
            <li class="third player3">Third</li>
            <li class="shortStop player4">Short Stop</li>
            <li class="center player1">Center</li>
            <li class="right player2">Right</li>
            <li class="left player1">Left</li>
          </ul>
          <div class="special">
            <h5>Special</h5>
            <ul>
              <li><span>Peter C.</span> Hit</li>
              <li><span>Peter C.</span> Runs</li>
              <li><span>Peter C.</span> Extra Base</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mod" id="roster">
      <div class="hd">
        <h3>Roster</h3>
      </div>
      <div class="bd">
        <ul>
          <li class="player1">
            <img src="images/player1.jpg" alt="Peter C." />
            <div>
              <h5>Peter C.</h5>
              <span class="icon" title="Purple">Purple</span>
              <span class="quote">"Take it in the Mitt!"</span>
            </div>
            <em>1450</em>
          </li>
          <li class="player2">
            <img src="images/player2.jpg" alt="Rebecca L." />
            <div>
              <h5>Rebecca L.</h5>
              <span class="icon" title="Blue">Blue</span>
              <span class="quote">"I like Corn"</span>
            </div>
            <em>2384</em>
          </li>
          <li class="player3">
            <img src="images/player3.jpg" alt="John M." />
            <div>
              <h5>John M.</h5>
              <span class="icon" title="Red">Red</span>
              <span class="quote">"Up The Roid"</span>
            </div>
            <em>1900</em>
          </li>
          <li class="player4">
            <img src="images/player4.jpg" alt="Charlie K." />
            <div>
              <h5>Charlie K.</h5>
              <span class="icon" title="Yellow">Yellow</span>
              <span class="quote">"We Got Big Cows"</span>
            </div>
            <em>14</em>
          </li>
        </ul>
      </div>
    </div>
    <div class="mod" id="feed">
      <div class="hd">
        <h3>Feed</h3>
      </div>
      <div class="bd">
        <ol>
	  <li>Top of 5th inning</li>
	  <li>End of 4th inning</li>
          <li>Ground out to first base</li>
	  <li>Strike out</li>
	  <li>Strike out</li>
	  <li>Bottom of 4th inning</li>
        </ol>
      </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="//js.pusher.com/1.12/pusher.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var pusher  = new Pusher('<%= Pusher.key %>'),
          channel = pusher.subscribe('test_channel');

      channel.bind('data-changed', function(data) {
        update_results(data)
      });

      function update_results(data) {
        $('.' + data.team).addClass(data.event);

        setTimeout(function(){
          $('<li>' + data.description + '</li>').insertBefore('#feed .bd ol li:first-child');
	  // TODO: update scores in roster
	  // $('#roster .bd .player1 em').text()
        }, 2000);
	  
        setTimeout(function(){
          $('.' + data.team).removeClass(data.event);
        }, 5000);
      }
    });
  </script>
</body>
</html>