<!DOCTYPE html>
<html>
  <head>
    <title>Play Squeeze!</title>
  </head>

  <body>
    <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
    <script type="text/javascript">
      var pusher = new Pusher('<%= Pusher.key %>'); // uses your API KEY
      var channel = pusher.subscribe('test_channel');
      channel.bind('greet', function(data) {
        alert(data.greeting);
      });
    </script>

    <h1>Game to be named later</h1>
  </body>
</html>